#event-container img, #event-list-container img {
    width: 100%;
}

#event-list-container p, #event-list-container h2 {
    margin: 0;
}

#event-list-container .event-sum {
    margin-left: 80px;
    margin-bottom: 70px;
}

#event-list-container .flex {
    display: flex;
}