{{ define "main" }}

<main>

<section>

        {{partial "dino"}}

        <div>
                <h1>404 ERROR <br>page introuvable</h1>
            
                <p>Pourquoi ne pas vous laisser tenter par les thèmes proposés ci-dessous ?</p>
               
                <div>
					{{range $item := (where (where (where .Site.Pages ".Title" "!=" "Thématiques") ".Title" "!=" "") ".Type" "thematiques") }}
						<div><a href="{{ $item.Permalink }}">> {{ $item.Title }}</a></div>
					{{ end }}
				</div>

            </div>

</section>



    </main>



{{ end }}