{{ define "main" }}

<main class="container">

<section class="row mt-4 justify-content-between">

        

        <div class="col-6 justify-content-center mt-5">
            {{partial "dino"}}
        </div>  
    
    
        <div class="col-md-6 "> 
                <h1>404 ERROR <br>page introuvable</h1>
            
                <p class="mt-5">Pourquoi ne pas vous laisser tenter par les thèmes proposés ci-dessous ?</p>
                
                <div class="mt-5 mb-6">
                    {{range $item := (where (where (where .Site.Pages ".Title" "!=" "Thématiques") ".Title" "!=" "") ".Type" "thematiques") }}
                        <div><a href="{{ $item.Permalink }}">> {{ $item.Title }}</a></div>
                    {{ end }}
                </div>

        </div>

       

</section>



 </main>



{{ end }}