{{ define "main" }}

<main>

<section class="container-quatre-cent-quatre">


        {{partial "dino"}}

        <div class="quatre-cent-quatre-container-text">
                <h1 style="padding-bottom: 3rem; font-weight: bold;">404 ERROR <br>page introuvable</h1>
            
                <p style="width: 60%;">Pourquoi ne pas vous laisser tenter par les thèmes proposés ci-dessous ?</p>
               
                <div class="col thematiques-list margin-left quatre-cent-quatre-theme">
					{{range $item := (where (where (where .Site.Pages ".Title" "!=" "Thématiques") ".Title" "!=" "") ".Type" "thematiques") }}
						<div style="margin-right: 2rem; margin-top: 2rem; width: 35%;" class="thematique-item"><a href="{{ $item.Permalink }}">> {{ $item.Title }}</a></div>
					{{ end }}
				</div>

            </div>

</section>



    </main>



{{ end }}