{{ define "main" }}
<main class="container">
    <section class="row position-relative overflow-hidden py-5">
        <img class="position-absolute top-0 offset-5 col-7 ps-0" src="/images/landing-bg.png" alt="">
        <div class="col-8">
            <h1 class="mt-3 mb-5">Explorons les<br/>cultures numériques.</h1>
        </div>
        <div class="col-5 pt-3">
            <p class="mb-4">Vous y trouverez toutes les ressources et le savoir que j’ai pu accumuler tout au long de mon parcours. Mon but est de donner accès à cette culture à un grand nombre d’étudiants, de non-initiés et de spécialistes du numérique.</p>
        </div>
    </section>
    <section class="row">
        <div class="col-5 bg-light d-flex flex-column">
            <h4 class="p-5 my-auto">Découvrez et approfondissez les sujets de votre choix.</h4>
        </div>
        <div class="offset-1 col-6 py-5">

            <p class="mb-4">Thématiques - <a href="/events/"><strong>Tout voir</strong></a></p>

            {{ range (where .Site.Pages "Section" "thematiques") }}
                {{ range .Pages }}
                    <h4 class="mb-3">
                        <a class="" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h4>
                {{ end }}
            {{ end }}
        </div>
    </section>


    <section class="row mt-6 d-flex flex-row justify-content-between">
        {{ range $.Site.Data.home.presentations }}
            {{ partial "components/card-presentation" (dict "presentation" . "site" $.Site) }}
        {{ end }}
    </section>

    <section class="my-6">
        <div class="row">
            {{ partial "components/heading.html" "Quelques propositions d'évènements" }}
        </div>
        <div class="row grid-masonry">

            {{ $paginator := .Paginate (shuffle (where .Site.Pages "Section" "events")) }}
            {{ range $paginator.Pages }}
            <div class="col-4 mb-4">
                 {{ partial "components/card-summary" . }}
            </div>
            {{ end }}
            <!-- {{ template "_internal/pagination.html" . }} -->
        </div>
    </section>
</main>
<script src="/js/index.js" defer></script>
{{ end }}
