<nav style="--bs-breadcrumb-divider: '>';" aria-label="fil d'arianne" class="container">
    <ul class="breadcrumb">
        {{ template "breadcrumbnav" (dict "p1" . "p2" . "siteTitle" .Site.Title) }}
    </ul>
</nav>

{{ define "breadcrumbnav" }}
    {{ if .p1.Parent }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 "siteTitle" .siteTitle)  }}
    {{ else if not .p1.IsHome }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 "siteTitle" .siteTitle)  }}
    {{ end }}
    <li class="pe-3 breadcrumb-item">
        {{ $title := cond (eq .p1.Title .siteTitle) "Accueil" .p1.Title }}
        {{ if eq .p1 .p2 }}
            <span class="breadcrumb-item active">{{ $title }}</span>
        {{ else }}
            <a class="breadcrumb-item" href="{{ .p1.RelPermalink }}">{{ $title }}</a>
        {{ end }}
    </li>
{{ end }}
