<article class="col-md-6 col-lg-4 col-xl-4 mb-5">
    <div class="p-4 h-100 d-flex flex-column align-items-start">
        <div class="d-flex flex-row justify-content-between w-100">
            <span>{{ .Title }}</span>
            <span>
                {{ $thematiquePath := printf "/%s" .Params.Thematique }}
                {{ with .Site.GetPage $thematiquePath }}
                    {{ .Title }}
                {{ end }}
            </span>
        </div>
        <div class="mt-1 mb-3"></div>
        <div>
            <img src={{ .Params.image }} alt={{ .Title }}>
        </div>
        <div class="mt-3 d-flex flex-row gap-2">
            <span>{{ .Params.Year }}</span>
            <span>
                {{ $type := (printf "%T" .Params.Kind) }}
                
                {{ if eq $type "string" }}
                    <span>{{ .Params.Kind }}</span>
                {{ else }}
                    {{ range .Params.Kind }}
                        <span>{{ . }}</span>  
                    {{ end }}
                {{ end}}
            </span>
        </div>
        <p class="py-2 text-p-normal">
            <span >{{ .Params.abstract | truncate 120 }}</span>
            <a href="{{ .Permalink }}">En savoir plus</a>
        </p>
    </div>
</article>
