<footer class="border-top py-5 small">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 d-flex flex-column align-items-start">
          <a class="link-secondary" href="/about">À propos</a>
          <a class="link-secondary" href="/mentions-legales/index.html">Mentions légales</a>
          <a class="link-secondary" href="/politique-de-confidentialite/index.html">Politique de confidentialité</a>
      </div>
      <div class="col-lg-4 text-lg-end d-flex flex-column align-items-strech gap-lg-4 mt-3">
          <span>Un projet en creative commons d'<a href="https://etienne.design/" class="link-secondary fw-bold">Étienne Mineur</a>, réalisé en open source par <a class="link-secondary fw-bold" href="https://www.noesya.coop/">Noesya</a> et une équipe d'étudiants du <a class="link-secondary fw-bold" href="https://www.mmibordeaux.com/">MMI Bordeaux</a></span>
      </div>
    </div>
  </div>
</footer>
