<footer class="footer container text-p">
    <div class="row">
        <div class="col-12 footer-divider mb-5"></div>
        <div class="col-md-5 d-flex flex-column align-items-start gap-4 mt-3">
            <a href="#" class="text-link">À propos</a>
            <a href="#" class="text-link">Mentions légales</a>
            <a href="#" class="text-link">Politique de confidentialité</a>
        </div>
        <div class="col-md-7 text-end d-flex flex-column align-items-end gap-4 mt-3">
            <span>Un projet en creative commons d'<a href="https://etienne.design/" class="text-link fw-bold">Étienne Mineur</a></span>
            <span>Réalisé en open source par <a href="https://www.noesya.coop/" class="text-link fw-bold">Noesya</a> et une équipe d'étudiants du <a href="https://www.mmibordeaux.com/" class="text-link fw-bold">MMI Bordeaux</a> </span>
        </div>
    </div>

</footer>