<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

    <link rel="icon" href="/images/MOBILE.png">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">

	{{ $sass := resources.Get "sass/application.scss" }}
	{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

    {{- $js := resources.Get "js/app.js" | js.Build -}}
	<script type="text/javascript" src="{{ $js.Permalink }}" defer></script>

	<!-- netlify cms -->
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>