<nav  class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasMenu"
      aria-labelledby="offcanvasMenuLabel">

  <div class="offcanvas-header">
    <p></p>
    <p data-bs-dismiss="offcanvas" aria-label="Fermer">
       Fermer
       <span class="btn-close align-middle ms-1 me-2"></span>
    </p>
  </div>
  <div class="offcanvas-body">
    <p><a href="/">Accueil</a></p>
    <hr>
    <p>Thématiques - <a href="/events/"><strong>Tout voir</strong></a></p>
    <ul class="list-unstyled">
      {{ range (where .Site.Pages "Section" "thematiques") }}
        {{ range .Pages }}
        <li>
          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        </li>
        {{ end }}
      {{ end }}
    </ul>
    <hr>
    {{ with .Site.Menus.main }}
      <ul class="list-unstyled">
        {{ range . }}
          <li>
            <h4><a href="{{ .URL | relURL }}">{{ .Name }}</a></h4>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</nav>
