<nav>
    <ul class="pagination justify-content-center">
        <!-- Si page > 1 -->
        {{ if .Paginator.HasPrev }}
            <li class="page-item pagination-svg mx-2"><a class="page-link fw-bold text-center" href="{{ .Paginator.Prev.URL }}">{{ partial "svg/left-arrow.html" (dict "strokeColor" "#0039BF" "self" .) }}
                précedent</a></li>
        {{ else }}
            <!-- Si pas de page précédente -->
            <li class="btn disabled mx-2"><a class="align-middle">{{ partial "svg/left-arrow.html" (dict "strokeColor" "#8A9095" "self" .) }} précédent</a></li>
        {{ end }}
        <!-- Active -->
        <li class="page-item active w-10 mx-2"><a class="page-link text-center" href="#">{{ .Paginator.PageNumber }}</a></li>

        {{ if .Paginator.HasNext }}
        <li class="page-item  w-10 mx-2"><a class="page-link text-center" href="{{ .Paginator.Next.URL }}">
            {{ .Paginator.Next.PageNumber }}
        </a></li>
        {{ end }}

        <!-- Last page -->

        {{ $currentPage := .Paginator }}
        {{ $currentPageIndex := add .Paginator.PageNumber 3 }}
            <!-- Boucle -->
            {{ range $index, $pages := .Paginator.Pagers }}
                <!-- Réindexation index, pour ne pas avoir la prochaine page car déjà obtenue via .Paginator.Next.PageNumber -->
                {{ $index := sub $index 1 }}
                     <!--  Si index de la boucle > les pages bouclées  -->
                    {{ if ge $index $currentPage.PageNumber }}
                        <!-- Si prochaine page < à page actuelle + 2 -->
                        {{ if le .PageNumber $currentPageIndex }}
                            <li class="page-item w-10 mx-2"><a class="page-link text-center" href="{{ .URL }}">{{ .PageNumber }}</a></li>
                         {{ end }}
                    {{ end }}
             {{ end }}

        <!-- Si page suivante -->
        {{ if .Paginator.HasNext }}
            <li class="page-item pagination-svg mx-2"><a class="page-link fw-bold" href="{{ .Paginator.Next.URL }}">
                suivant {{ partial "svg/right-arrow.html" . }}
            </a></li>
        {{ end }}
    </ul>
</nav>
