<!DOCTYPE html>
<html>
<!-- Masonry -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

    {{- partial "head.html" . -}}
    <body>
            {{- partial "header.html" . -}}
                {{ partial "breadcrumb" . }}
                {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}

        <!-- <template id="event-template">{{ partial "event-summary.html" }}</template> -->
    </body>
</html>
