<article class="event-summary col-sm-6 col-md-4 col-lg-4 mb-5">
    <div class="d-flex flex-row justify-content-between">
        <span>{{ .Title }}</span>
        <span>{{ .Type }}</span>
    </div>
    <div class="divider mt-1 mb-3"></div>
    <div class="event-summary-img-container">
        <img class="" src={{ .Params.image }} alt={{ .Title }}>
    </div>
    <div class="mt-3 d-flex flex-row gap-2">
        <span>{{ .Params.Year }}</span>
        {{ $type := (printf "%T" .Params.Kind) }}
        {{ if eq $type "string" }}
            <span>{{ .Params.Kind }}</span>
        {{ else }}
            {{ range .Params.Kind }}
                <span>{{ . }}</span>
            {{ end }}
        {{ end}}
    </div>
    <p class="py-2">{{ .Params.abstract }}</p>
    <a href="{{ .Permalink }}">En savoir plus</a>
</article>