{{ define "main" }}
	<main class="container">

    <div>
      {{ partial "components/heading.html" .Title }}
    </div>

    <div class="row pt-5">

      <h4 class="mb-1 d-block d-sm-none pb-5">{{ .Params.Owner.Title }}</h4>

      <div class="col-12 col-xl-4 col-lg-6 col-md-8 col-sm-10">
        <img class="pb-5" src="{{ .Params.Owner.Image }}">
      </div>

      <div class="col-sm-8 col-md-7 col-xl-6 offset-xl-1 pb-5">

        <article class="pb-5">
          <h4 class="mb-1 d-none d-sm-block pb-5">{{ .Params.Owner.Title }}</h4>
          {{ range .Params.Owner.Lines }}
            <p>{{ . | markdownify }}</p>
          {{ end}}
        </article>

        <article class="mt-5">
          <h4 class="mb-3 pb-5">{{ .Params.Project.Title }}</h4>
          {{ range .Params.Project.Lines }}
            <p>{{ . | markdownify }}</p>
          {{ end}}
        </article>
      </div>

    </div>

    <div>
      {{ partial "components/heading.html" "L'équipe" }}
    </div>

    <div class="mb-5 pb-5 row">
      {{ range .Params.Team }}
        {{ partial "components/team-member-card.html" .}}
      {{ end }}
    </div>

	</main>
{{ end }}
