{{ define "main" }}
	<main class="container">
        <div class="row d-flex flex-row flex-nowrap align-items-center">
            <h3 class="d-inline w-auto me-2">À propos</h3>
            <div class="divider flex-shrink-1"></div>
        </div>


        <div class="row pt-5">
            <article class="col-sm-8 mt-md-5 pt-md-5 col-md-7 col-xl-6 offset-xl-2">
                <h1>{{ .Params.Owner.Title }}</h1>
                <h2>{{ .Params.Owner.Subtitle }}</h2>
                {{ range .Params.Owner.Lines }}
                    <p>{{ . | markdownify }}</p>
                {{ end}}
            </article>

            <div class="mb-5 mb-md-0  offset-5 order-first order-sm-0 offset-sm-0 col-6 col-sm-4 col-md-4 offset-md-1 col-md-3 offset-xl-1 col-xl-3">
                <img class="img-fluid" src="{{ .Params.Owner.Image }}">
            </div>

            <article class="mt-5 col-md-7 col-xl-6 offset-xl-2">
                <h1>{{ .Params.Project.Title }}</h1>
                {{ range .Params.Project.Lines }}
                    <p>{{ . | markdownify }}</p>
                {{ end}}
            </article>
        </div> 

        <div class="mt-5 py-5 row d-flex flex-row flex-nowrap align-items-center">
            <h3 class="d-inline w-auto me-2">L'équipe</h3>
            <div class="divider flex-shrink-1"></div>
        </div>

        <div class="mb-5 pb-5 team-section d-flex flex-column gap-5">
            {{ range .Params.Team }}
                <div class="group row align-items-center">
                    <h5 class="fw-light col-12 col-lg-2 offset-xl-2">{{ .group }}</h5>
                    <div class="group-members gap-4 col-12 col-lg-10 col-xl-7 d-flex flex-row flex-wrap ">
                        {{ range .members }}
                            <div class="group-member">
                                <img src="{{.img }}">
                                <h6 class="mt-2 mb-1"><strong>{{ .name }}</strong></h6>
                                <span class="fw-light">{{ .role }}</span>
                            </div>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
	</main>
{{ end }}
