{{ define "main" }}
	<main class="container">

        <div class="row pt-5">

          <h1 class="text-title mb-1 d-block d-sm-none pb-5">{{ .Params.Owner.Title }}</h1>

          <div class="col-12 col-xl-4 col-lg-6 col-md-8 col-sm-10 p-0">
            <img class="img-fluid pb-5" src="{{ .Params.Owner.Image }}">
          </div>

          <div class="col-sm-8 col-md-7 col-xl-6 offset-xl-1">

            <article class="pb-5">
              <h1 class="text-title mb-1 d-none d-sm-block pb-5">{{ .Params.Owner.Title }}</h1>
              {{ range .Params.Owner.Lines }}
                <p class="text-p">{{ . | markdownify }}</p>
              {{ end}}
            </article>

            <article class="mt-5">
              <h1 class="text-title mb-3 pb-5">{{ .Params.Project.Title }}</h1>
              {{ range .Params.Project.Lines }}
                <p class="text-p">{{ . | markdownify }}</p>
              {{ end}}
            </article>
          </div>

        </div>

        <div class="mt-5 py-5 row d-flex flex-row flex-nowrap align-items-center">
          <h3 class="heading-3 d-inline w-auto me-2">L'équipe</h3>
          <div class="divider flex-shrink-1"></div>
        </div>

        <div class="mb-5 pb-5 row">
            {{ range .Params.Team }}
                {{ partial "components/team-member-card.html" .}}
            {{ end }}
        </div>
	</main>
{{ end }}
