{{ define "main" }}

<main class="container">
    <div class="row">
        {{ partial "components/heading" "Personnes" }}
    </div>

    <div class="row grid-masonry">
        {{ range (.Paginate .Pages 12).Pages.ByTitle }}
        <div class="col-3 mb-4">
            {{ partial "components/card-summary" . }}
        </div>
        {{ end }}
    </div>
    <div class="row mt-5 mb-3">
        <div class="col col-md-6 offset-md-3 justify-content-center">
            {{ partial "pagination.html" . }}
        </div>
    </div>
</main>

{{ end }}