{{ define "main" }}
{{ partial "components/heading-with-read-time" (dict "title" .Title "toCount" .Params.description "dateCreation" .Params.Birth "dateDeath" .Params.death )}}

  {{ $thematiqueName := .File.BaseFileName }}
  <div class="row">
    <div class="col-xl-4">
      <img src="{{.Params.image}}" class="img-fluid mb-5">
    </div>
    <div class="offset-xl-1 col-xl-7">
      {{ .Params.description }}
    </div>
  </div>

  {{ if .Params.Organizations }}

    <div class="d-flex mt-5 mb-5 align-items-center">
      <h2 class="mb-0 me-5">Organisation(s) en lien avec {{ .Title }}</h2>
      <hr class="w-auto flex-grow-1">
    </div>

    {{ range $item := .Params.Organizations }}
      {{ $path := printf "/%s" . }}
      {{ with $.Site.GetPage $path }}
        {{ partial "components/cards/organization" . }}
      {{ end }}
    {{ end }}

  {{ end }}

  {{ site.RegularPages.RelatedTo (keyVals "persons" "john-draper") }}
  {{if .Params.Events}}
    <div class="d-flex mt-5 mb-5 align-items-center">
      <h2 class="mb-0 me-5">Contribution(s) de {{ .Title }}</h2>
      <hr class="w-auto flex-grow-1">
    </div>

    {{ range $item := .Params.Events }}
      {{ $path := printf "/%s" . }}
      {{ with $.Site.GetPage $path }}
        {{ partial "components/card-summary" . }}
      {{ end }}
    {{ end }}

  {{ end }}
{{end}}
