{{ define "main" }}
<main>
    <article class="container-persons">
    

        <div class="container-name-age">

                    <h1 style="width: 100%;">{{ .Title }}</h1>
                    <div class="divider divider-padding-left-txt-img" ></div>
                    <p>
                        {{ .Params.birth }} -   
                        {{ if .Params.death }}
                        {{ .Params.death }}
                        {{ end }}
                    </p>
        </div>


        <div class="container-img-des">
                <div class="image-persons">
                        <img src="{{.Params.image}}">
                </div>  


                <div class="des-persons">
                    {{ .Params.description }}
                </div>
        </div>
   
    </div>

        <!-- Events -->
    </article>
</main>
{{ end }}

