#breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;


    .breadcrumb-link {
        color: var(--fg-1);
        text-decoration-color: var(--accent-1);
    }
}