{{ define "main" }}
	<main class="container">
        <div class="row">

            <div class="col-12 col-xl-3">
                <h3>{{ .Title }}</h3>
            </div>

        </div>
        <div class="row" data-masonry='{"percentPosition": true }'>
            {{ $thematiqueName := .File.BaseFileName }}
            {{ range (where .Site.Pages "Section" "events") }}
                {{ range (where .Pages "Params.thematique" $thematiqueName).ByParam "year" }}
                    {{ partial "components/card-summary.html" . }}
                {{ end }}
            {{ end }}
        </div>
    </main>
<!-- {{ partial "sidebar.html" . }} -->
{{ end }}