{{ define "main" }}

	<main id="event-list-container">
        <div class="row mx-custom">

            <div class="row d-flex flex-row flex-nowrap align-items-center">
                <h3 class="heading-3 d-inline w-auto me-2">{{ .Title }}</h3>
                <div class="divider flex-shrink-1"></div>
            </div>

            <div class="row grid-masonry">
                {{ range .Paginator.Pages.ByParam "year" }}
                    <div class="col-4 mb-4">
                        {{ partial "components/card-summary" . }}
                    </div>
                {{ end }}
                {{ partial "pagination.html" . }}
            </div>
        </div>
	</main>
{{ end }}
