{{ define "main" }}
	<main id="event-list-container">
        <div class="row mx-custom">

            <div class="row d-flex flex-row flex-nowrap align-items-center">
                <h3 class="heading-3 d-inline w-auto me-2">{{ .Title }}</h3>
                <div class="divider flex-shrink-1"></div>
            </div>

<!--            <div class="row g-3" data-masonry='{"percentPosition": false, "fitWidth": true, "isAnimated": true}'>-->
            <div class="row g-3">
                {{ range .Paginator.Pages.ByParam "year" }}
                    {{ partial "components/card-summary" ( dict "tempalte" "event" "self" .) }}
                {{ end }}
            </div>
        </div>


        <!-- {{ range .Paginator.Pages.ByParam "year" }}
			<div class="flex">
				<h2 class="event-year">{{.Params.year}}</h2>
				<div class="event-sum">{{ .Render "event-summary" }}</div>
			</div>
		{{ end }} -->
	</main>

{{ partial "pagination.html" . }}

<!-- {{ partial "sidebar.html" . }} -->
{{ end }}