{{ define "main" }}
    {{ partial "components/heading-with-read-time" (dict "title" .Title "toCount" .Params.description)}}
    
    <div class="mt-n5 row">
        <h4>{{ .Params.year }}</h4>
    </div>

    <div class="row mt-5 mt-md-5">
        <div class="col-lg-5 col-lg-4">
            <img class="w-100" src="{{ .Params.Image }}" alt="{{ .Title }}">
        </div>

        <div class="mt-5 mt-lg-0 col-lg-6 offset-lg-1">
            {{ .Params.Description | markdownify }}
        </div>
    </div>

    <!-- Linked persons and organizations -->
    {{ if and (isset . "Params.persons") (gt (len .Params.persons) 0) }}
        <div class="row mt-6">
            {{ partial "components/heading" "Personnalités et organisations en lien" }}

            {{ range $item := .Params.Persons }}
                {{ $path := printf "/%s" . }}
                <div class="col-4 mb-4">
                    {{ with $.Site.GetPage $path }}
                        {{ partial "components/cards/person" . }}
                    {{ end }}
                </div>
            {{ end }}

            {{ range $item := .Params.Organizations }}
                {{ $path := printf "/%s" . }}
                <div class="col-4 mb-4">
                    {{ with $.Site.GetPage $path }}
                        {{ partial "components/card-summary" . }}
                    {{ end }}
                </div>
            {{ end }}
        </div>
    {{ end }}

    <!-- Others events this year -->

    {{ $events := where .Site.Pages ".Params.Year" "==" .Params.Year }}
    {{ if gt ($events) 0 }}
        <div class="row mt-6 mb-6">
            {{ $title := printf "Aussi en %s" (string .Params.Year) }}
            {{ partial "components/heading" $title }}

            {{ $currentPageTitle := .Title }}
            {{ range $events }}
                {{ if ne .Title $currentPageTitle }}
                    {{ partial "components/card-summary" . }}
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}
