{{ define "main" }}
    {{ partial "components/heading-with-read-time" (dict "title" .Title "toCount" .Params.description)}}

    <div class="mt-n5 row">
        <h4>{{ .Params.year }}</h4>
    </div>

    <div class="row mt-5 mt-md-5">
        <div class="col-lg-5 col-lg-4">
            <img class="w-100" src="{{ .Params.Image }}" alt="{{ .Title }}">
        </div>

        <div class="mt-5 mt-lg-0 col-lg-6 offset-lg-1">
            {{ .Description | markdownify }}
        </div>
    </div>

    <!-- Linked persons and organizations -->
    {{ partial "components/heading" "Personnalités et organisations en lien" }}
    {{ if or (and .Params.persons (gt (len .Params.persons) 0)) (and .Params.organizations (gt (len .Params.organizations) 0))  }}
        <div class="row mb-6">
            {{ range .Params.Persons }}
                {{ $path := printf "/%s" . }}
                {{ with $.Site.GetPage $path }}
                    {{ partial "components/cards/person" . }}
                {{ end }}
            {{ end }}
            {{ range .Params.Organizations }}
                {{ $path := printf "/%s" . }}
                {{ with $.Site.GetPage $path }}
                    {{ partial "components/cards/organization" . }}
                {{ end }}
            {{ end }}
        </div>
    {{ end }}

    <!-- Others events this year -->
    {{ $title := printf "Aussi en %s" (string .Params.Year) }}
    {{ partial "components/heading" $title }}

    {{ $events := where .Site.Pages ".Params.Year" "==" .Params.Year }}
    {{ if gt (len $events) 0 }}
        <div class="row mb-6 grid-masonry">

            {{ $currentPageTitle := .Title }}
            {{ range $events }}
                {{ if ne .Title $currentPageTitle }}
                    {{ partial "components/cards/event" . }}
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}
