{{ define "main" }}
	<main id="event-container">

		<div class="mx-custom">
		<div class="title-divider">
			<h2 class="heading-3">{{ .Title }}</h2>
			<div class="divider"></div>
		</div>

<!--		<p>{{ .Params.date }}</p>-->
		<article class="article-main-container container-fluid">
			<div class="image-article margin-bottom row">
				<img class="" src={{ .Params.image }} alt="">
			</div>
			<div class="article-description-container margin-bottom row me-0">
				<div class="col-lg-5 article-description col text-p letter-snug">{{ .Params.description | markdownify }}</div>
				<div class="col-lg-3"></div>

				<div class="col-lg-4">
					<p class="text-title">Autres sujets :</p>
					<ul class="">
						{{ range $index, $item := (where .Site.Pages ".Title" "!=" "") | shuffle | first 4 }}
							<li class="text-link">
								<a href="{{ $item.Permalink }}">
									<span class="chevron"></span>
									{{ $item.Title }}
								</a>
							</li>
						{{ end }}
					</ul>
				</div>

			</div>

		</article>
		</div>

		<div class="mx-custom">
			<div class="title-divider">
				<h2 class="heading-3">Personnalités et organisations en rapport avec l’événement</h2>
				<div class="divider"></div>
			</div>
		</div>

		<div class="row justify-content-between gx-1 mx-custom">
		{{ range $item := .Params.Persons }}
			{{ $path := printf "/%s" . }}
			{{ with $.Site.GetPage $path }}
<!--				<a href="{{ .Permalink }}">{{ .Title }}</a>-->
				{{ partial "cards-summary.html" (dict "dark" "fill-background-person" "self" . ) }}
			{{ end }}
		{{ end }}
		</div>

	</main>
<!-- {{ partial "sidebar.html" . }} -->
{{ end }}