$primary: #1E1E1E;
$secondary: #646464;

$body-bg: white;
$body-color: #1E1E1E;

$enable-rounded: false;







// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 12,
) !default;



