$custom-fg-1: #1f1f1f;
$custom-fg-2: #2C2C2C;
$custom-bg-1: #ffffff;
$custom-bg-2: #F5F5F5;
$custom-accent: #0039BF;

$primary: $custom-accent;
$light: $custom-bg-2;
$dark: $custom-fg-1;
// $info: #0039BF;

$enable-rounded: false;
$enable-negative-margins: true;

$body-bg: $custom-bg-1;
$body-color: $custom-fg-1;

$btn-border-width: 1px;

$border-color: $body-color;
$navbar-light-color: $body-bg;

$link-color: $custom-accent;
$link-hover-color: $custom-fg-1; //shift-color
$link-decoration: null; //mettre none sinon

$enable-rounded: false;

$font-family-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-base: 300;

$font-size-base:              1.125rem; // le 1.125 pour le 18
$h1-font-size:                $font-size-base * 3.556; //64 semibold
$h2-font-size:                $font-size-base * 3.556; //64 medium
$h3-font-size:                $font-size-base * 2.167; //39
$h4-font-size:                $font-size-base * 1.389; //25
$h5-font-size:                $font-size-base * 0.889; //16
$h6-font-size:                $font-size-base * 0.889; //16

$headings-color: $custom-fg-1;

$breadcrumb-active-color:           $custom-accent;
$breadcrumb-divider-color:          $custom-fg-1;
$breadcrumb-divider:                quote(">");

// Pagination
$pagination-hover-color: $custom-bg-2;
$pagination-hover-bg: $custom-accent;
$pagination-hover-border-color: $custom-accent;

$pagination-color:  $custom-fg-1;
$pagination-bg:     $custom-bg-2;
$pagination-border-color: $custom-bg-2;

$pagination-focus-color: $custom-bg-2;
$pagination-focus-bg: $custom-accent;
$pagination-focus-outline: 0;

// navbar
$navbar-dark-color: $custom-fg-1;
$navbar-light-color: $custom-fg-2;
$navbar-light-hover-color: $custom-fg-1;
$navbar-light-active-color: $custom-fg-1;
// $navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-icon-bg:       url("data:image/svg+xml,<svg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4.6875 22.5H25.3125M4.6875 7.5H25.3125H4.6875ZM4.6875 15H25.3125H4.6875Z' stroke='#1E1E1E' stroke-linecap='round' stroke-linejoin='round'/></svg>");
$navbar-light-toggler-border-color: transparent;
// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 6,
    7: $spacer * 12,
);

// Card
$card-cap-bg: transparent;
$card-border-color: $dark;
$card-cap-padding-y: 25px;
$card-cap-padding-x: 25px;
$card-spacer-y: 25px;
$card-spacer-x: 25px;
