/* dark theme */
@media (prefers-color-scheme: dark) {
    body {
        --primary-1: #FFFFFF;
        --background-1: #1E1E1E;
        --accent-1: #5487FF;
    }
}
body.dark-theme {
    --primary-1: #FFFFFF;
    --background-1: #1E1E1E;
    --accent-1: #5487FF;
}

/* light theme */
@media (prefers-color-scheme: light) {
    body {
        --primary-1: #1E1E1E;
        --background-1: #FFFFFF;
        --accent-1: #5487FF;
    }
}

body.light-theme {
    --primary-1: #1E1E1E;
    --background-1: #FFFFFF;
    --accent-1: #0e0f0f;
}



body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--primary-1);
    background: var(--background-1);
}
#content {
    height: 100%;
}


#event-container img, #event-list-container img {
    width: 100%;
}

#event-list-container p, #event-list-container h2 {
    margin: 0;
}

#event-list-container .event-sum {
    margin-left: 80px;
    margin-bottom: 70px;
}

#event-list-container .flex {
    display: flex;
}

// Header
header {
    background-color: var(--background-1);
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;

    h2 {
        a {
            color: var(--color-1);
            text-decoration: none;
        }
    }

    .buttons-container {
        display: flex;
        align-items: center;

        button:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.nav-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-1);
    
    &.active {
        display: block;
    }

    .close-menu-btn {
    }
    
    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        a {
            color: var(--color-1);
            text-decoration: none;
        }
    }
}