// 
// Les utils sont des classes génériques réutilisables partout
// 

// couleurs
.text-fg-2 {color: var(--fg-1)}
.text-fg-2 {color: var(--fg-2)}
.text-bg-1 {color: var(--bg-1)}
.text-bg-2 {color: var(--bg-2)}
.text-accent-1 {color: var(--accent-1)}

.border-fg-2 {border-color: var(--fg-1)}
.border-fg-2 {border-color: var(--fg-2)}
.border-bg-1 {border-color: var(--bg-1)}
.border-bg-2 {border-color: var(--bg-2)}
.border-accent-1 {border-color: var(--accent-1)}

.bg-fg-2 {background-color: var(--fg-1)}
.bg-fg-2 {background-color: var(--fg-2)}
.bg-bg-1 {background-color: var(--bg-1)}
.bg-bg-2 {background-color: var(--bg-2)}
.bg-accent-1 {background-color: var(--accent-1)}



// fonts

.heading-1 {        font-weight: var(--fw-semibold);    font-size: var(--fs-heading-1);     line-height: var(--line-120); }
.heading-2 {        font-weight: var(--fw-medium);      font-size: var(--fs-heading-1);     line-height: var(--line-120); }
.heading-3 {        font-weight: var(--fw-light);       font-size: var(--fs-heading-2);     line-height: var(--line-120); }
.text-title {       font-weight: var(--fw-medium);      font-size: var(--fs-title);         line-height: var(--line-120); }
.text-subtitle {    font-weight: var(--fw-medium);      font-size: var(--fs-label);         line-height: auto; letter-spacing: var(--letter-snug);}
.text-p {           font-weight: var(--fw-light);       font-size: var(--fs-text);          line-height: var(--line-175);}
.text-p-normal {    font-weight: var(--fw-normal);       font-size: var(--fs-text);          line-height: var(--line-175); letter-spacing: var(--letter-spacing);}
.text-btn {         font-weight: var(--fw-medium);      font-size: var(--fs-label);         line-height: var(--line-120); }

.letter-snug {letter-spacing: var(--letter-snug);}

.card-title, .card-thematique, .card-text { font-size: var(--fs-label); line-height: auto; letter-spacing: var(--letter-snug);}
.card-title, .card-thematique { font-weight: var(--fw-medium);  }
.card-text { font-weight: var(--fw-light); }

.heading-1, .heading-2, .heading-3, .text-title, .text-subtitle, .text-btn {
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;

    &:hover {
        color: unset;
    }
}

.img-fluid {
    width: 100%;
    height: auto;
}

p.center {
    text-align: center;
}

.text-link {
    text-decoration: none;
    color: var(--fg-1);
}

.text-link:hover {
    text-decoration: underline;
    color: var(--fg-1);
}


.underlined {
    text-decoration: underline;
}


.divider {
    height: 1px;
    background: var(--fg-1);
    width: 100%;
}


.border-box {
    box-sizing: border-box !important;
}

.no-maring {
    padding: 0 !important;
}

// Title-divider
.title-divider {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 100px 0;

    h2, p {
        white-space: nowrap;

        &:last-child {
            margin: 0 0 0 30px;
            color: var(--fg-2);

            span {
                margin-right: 10px;

                svg {
                    width: 1rem;
                    stroke: var(--fg-2);
                }
            }
        }

        &:first-child {
            margin: 0 30px 0 0;
        }
    }

    .divider {
        width: 100%;
        border-bottom: 1px solid var(--fg-1);
    }
}

// Paginator controls
.pagiantor-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
        color: var(--accent-1);
        background-color: var(--bg-2);
        border-radius: 4px;
        padding: 20px;
        margin: 0 1rem;
        border: 2px solid transparent;


        &:focus {
            border: 2px solid var(--accent-1);
        }

        &:hover{
            color: var(--fg-1);
            background: var(--bg-2);
            border: 2px solid #5487FF;
            // box-sizing: border-box;
            // border-radius: 4px;
          
           }
          
    }

    p {
        margin: 0 1rem;
    }

    svg.mirror {
        transform: rotate(180deg);
    }
}