.text-p {
    font-weight: 300;
}

.img-fluid {
    width: 100%;
    height: auto;
}

p.center {
    text-align: center;
}

.text-link {
    text-decoration: none;
    color: var(--fg-1);
}

.text-link:hover {
    text-decoration: underline;
    color: var(--fg-1);
}


.underlined {
    text-decoration: underline;
}


.divider {
    height: 1px;
    background: var(--fg-1);
    width: 100%;
}


.border-box {
    box-sizing: border-box !important;
}

.no-maring {
    padding: 0 !important;
}

// Title-divider
.title-divider {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 100px 0;

    h2 {
        text-transform: lowercase;
        margin: 0 30px 0 0;
    }

    .divider {
        width: 100%;
        border-bottom: 1px solid var(--fg-1);
    }
}