.container-quatre-cent-quatre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 13rem;
    margin-right: 3rem;

}



.quatre-cent-quatre-container-text{
    padding-bottom: 10rem;

    
}