.container-quatre-cent-quatre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 15%;

}


.quatre-cent-quatre-container-text{
    margin-left: 15%;
    padding-bottom: 5%;
}


.quatre-cent-quatre-theme{
    display: flex;
    flex-wrap: wrap;
    color: var(--accent-1);

    
}

