.container-quatre-cent-quatre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 10%;

}



.quatre-cent-quatre-container-text{
    margin-left: 5%;
    padding-bottom: 10rem;

    
}