.container-persons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container-name-age{
    display: flex;
    justify-content: space-between;
    align-items: center; 
       
    width: 95%;
    // padding-left: 5%;
    // padding-right: 5%;

    p {
        margin-bottom: 0;
        vertical-align: middle;
        width: 80%;
        justify-content: right;
    }


}

.container-img-des{
    display: flex;
    margin-top: 5%;
}

.image-persons{
    width: 450px;
    

    img {
      width: 420px;
      height: 375px;
      object-fit: contain;

    }
  }

.des-persons{
    padding-right: 5%;
}

.divider-padding-left-txt-img{
    width: 80%;
}