{{ $dataType := .Type }}
<div class="col-xl-4 col-md-6 mb-4">
  <div class="card text-decoration-none text-dark">
    <div class="card-header d-flex justify-content-between border-bottom-0">
      <p class="mb-0">
        <a href="{{ .Permalink }}" class="stretched-link">
          {{ .Title }}
        </a>
      </p>
      <p class="text-end mb-0">{{ .Params.Year }}</p>
    </div>
    {{ if .Params.image }}
        <div class="mx-4 mb-4">
            {{ $title := .Title }}
            {{ with partial "get-img-data" .Params.image }}
            <img src="{{ .Permalink }}"
                width="{{ .Width }}"
                height="{{ .Height }}"
                alt="{{ $title }}"
                class="img-fluid w-100"
                loading="lazy">
            {{end}}
        </div>
    {{ end }}
  </div>
</div>
