<a href="{{ .Permalink }}" class="card text-decoration-none text-white bg-dark">
  <div class="card-header d-flex justify-content-between border-bottom-0 my-n2 person__card">
      <p class="mb-0">{{ .Title }}</p>
      <p class="text-end small mb-0">
        {{ .Params.birth }}<br>
        {{ if .Params.death }}
          {{ .Params.death }}
        {{ else }}
          -
        {{end}}
      </p>
  </div>
  {{ $title := .Title }}
  {{ if .Params.image }}
    {{ $imgFile := .Params.image }}
    {{ $imgFileStatic := printf "/static%s" $imgFile }}
    {{ $imgData := imageConfig $imgFileStatic }}
    {{ with $imgData }}
      <div class="mx-4 mb-4">
        <img  src="{{ $imgFile }}"
              width="{{ .Width }}"
              height="{{ .Height }}"
              alt="{{ $title }}"
              class="img-fluid img-square">
      </div>
    {{ end }}
  {{ end }}
</a>
