{{ $dataType := .Type }}
<div class="col-xl-4 col-md-6 mb-4">
  <div class="card text-decoration-none text-dark">
    <div class="card-header d-flex justify-content-between border-bottom-0">
      <p class="mb-0">
        <a href="{{ .Permalink }}" class="stretched-link">
          {{ .Title }}
        </a>
      </p>
      <p class="text-end mb-0">{{ .Params.Year }}</p>
    </div>
    {{ if .Params.image }}
        <div class="mx-4 mb-4">
            {{ $alt := ""}}
            {{ if .Params.description }}
                {{ $alt = .Params.description | truncate  100 | markdownify }}
            {{ else }}
                {{ $alt = .Title }}
            {{ end }}
            {{partial "image/resize" (dict 
                "size" "x480 webp"
                "img" .Params.image
                "alt" $alt
                "class" "img-fluid w-100"
            )}}
        </div>
    {{ end }}
  </div>
</div>
