{{ define "main" }}

<main id="persons-list" class="container">
    <main class="container">
        <div class="row">
            {{ partial "components/heading" "Organisations" }}
        </div>
    
        <div class="row">
            {{ range (.Paginate .Pages 12).Pages.ByTitle }}
            <div class="col-4 mb-4">
              {{ partial "components/card-summary" . }}
            </div>
            {{ end }}
            {{ partial "pagination.html" . }}
        </div>
    </main>
</main>

{{ end }}