{{ define "main" }}
{{ partial "components/heading-with-read-time" (dict "title" .Title "toCount" .Params.description)}}

  <time datetime="{{ .Params.Birth }}">{{ .Params.Birth }}</time>
  <div class="row">
    <img class="col-xl-4 col-md-5 col-sm-6" src="{{ .Params.image }}">
    <p class="offset-1 col-xl-7 col-md-8 col-sm-9">{{ .Description }}</p>
  </div>

  {{if .Params.Events}}
    <div class="d-flex mt-5 mb-5 align-items-center">
      <h2 class="mb-0 me-5">Contribution(s) de {{ .Title }}</h2>
      <hr class="w-auto flex-grow-1">
    </div>

    <div class="row">
      {{ range $item := .Params.Events }}
        {{ $path := printf "/%s" . }}
        {{ with $.Site.GetPage $path }}
          {{ partial "components/cards/event" . }}
        {{ end }}
      {{ end }}
    </div>

  {{ end }}

  {{if .Params.Persons}}
    <div class="d-flex mt-5 mb-5 align-items-center">
      <h2 class="mb-0 me-5">Personnalité(s) en lien avec {{ .Title }}</h2>
      <hr class="w-auto flex-grow-1">
    </div>

    <div class="row">
      {{ range $item := .Params.Persons }}
        {{ $path := printf "/%s" . }}
        {{ with $.Site.GetPage $path }}
          {{ partial "components/cards/person" . }}
        {{ end }}
      {{ end }}
    </div>

  {{ end }}



{{ end }}
