

.pagination-controls{
    text-decoration:none;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
    width: 52px;
    height: 63px;
    
    color: var(--fg-1);
    background: var(--bg-2);
    border-radius: 4px;
}

.pagination-controls:hover{
    color: var(--fg-1);
    background: var(--bg-2);
    border: 2px solid #5487FF;
    box-sizing: border-box;
    border-radius: 4px;
  }


